<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PortalProjetoAmor"
         connectionString="Data Source=VICTOR-PC\SQLH001; Initial Catalog=DBPROJETOAMOR; Integrated Security=SSPI;user id = teste;password=210889"/>
  </connectionStrings>
</configuration>
